<section class="banner-especialidades">
    <div class="overlay">
        <div class="contenido">
            <h2>Especialidades</h2>
            <p>
                Porque nuestros pacientes son primero y queremos que los médicos especialistas estén más cerca de su
                cuidado.
                Te brindamos atención personalizada y en tu hogar.
            </p>
        </div>
    </div>
</section>

<section class="contenido-especialidades">
    <div class="img">
        <img src="../../../assets/img/especialidades/Especialidades.jpg" alt="">
    </div>


    <div class="especialidades-lista">
        <h3>Nuestras Especialidades</h3>
        <ul>
            <li><i class="fas fa-notes-medical"></i> Cardiología</li>
            <li><i class="fas fa-notes-medical"></i> Dermatología</li>
            <li><i class="fas fa-notes-medical"></i> Endocrinología</li>
            <li><i class="fas fa-notes-medical"></i> Gastroenterología</li>
            <li><i class="fas fa-notes-medical"></i> Geriatría</li>
            <li><i class="fas fa-notes-medical"></i> Ginecología</li>
            <li><i class="fas fa-notes-medical"></i> Hematología</li>
            <li><i class="fas fa-notes-medical"></i> Medicina Interna</li>
            <li><i class="fas fa-notes-medical"></i> Nefrología</li>
            <li><i class="fas fa-notes-medical"></i> Neumología</li>
            <li><i class="fas fa-notes-medical"></i> Pediatría</li>
            <li><i class="fas fa-notes-medical"></i> Traumatología</li>
            <li><i class="fas fa-notes-medical"></i> Urología</li>
            <li><i class="fas fa-notes-medical"></i> Y más...</li>
        </ul>
    </div>
    <div class="info-contacto">
        <div class="info-box">
            <h4>La Atención es a Domicilio</h4>
            <p>¡Adiós a las largas colas de espera!</p>
        </div>
        <p><i class="fas fa-phone"></i> +51 946 361 049</p>
        <p><i class="fas fa-envelope"></i> contacto&#64;apusalud.com</p>
        <h3>Horarios de Atención</h3>
        <p><i class="far fa-clock"></i> <strong>Lunes a Viernes</strong> – De 8am a 8pm</p>
        <p><i class="far fa-clock"></i> <strong>Sábado</strong> – De 8am a 8pm</p>
        <p><i class="far fa-clock"></i> <strong>Domingo</strong> – No disponible</p>
        <a class="btn-cita" href="#">Separar Cita</a>
    </div>
</section>

<section class="pasos-solicitud">
    <h3>¿Cómo solicitar un especialista médico?</h3>
    <p>Lo único que necesita hacer es:</p>
    <ul>
        <li>Contactarse con nosotros</li>
        <li>Coordinar el servicio mediante una llamada</li>
        <li>Recibir atención en su domicilio según el caso identificado</li>
    </ul>
    <a href="#" class="btn-solicitar"><i class="fas fa-comment-medical"></i> Solicitar Especialista</a>
</section>

<section class="valores-apu">
    <div class="item">
        <i class="fas fa-briefcase"></i>
        <h4>Profesionalismo</h4>
        <p>Médicos con experiencia a tu disposición en casa.</p>
    </div>
    <div class="item">
        <i class="fas fa-heart"></i>
        <h4>Compromiso</h4>
        <p>Disponibilidad 24/7 los 365 días del año.</p>
    </div>
    <div class="item">
        <i class="fas fa-thumbs-up"></i>
        <h4>Bioseguridad</h4>
        <p>Implementos de protección y protocolos especializados.</p>
    </div>
</section>

<section class="form-contacto">
    <div class="formulario">
        <h4>Contáctanos</h4>
        <input type="text" placeholder="Nombre">
        <input type="email" placeholder="Correo electrónico">
        <input type="tel" placeholder="Número de Celular">
        <textarea rows="5" placeholder="Mensaje"></textarea>
        <button>Enviar</button>
    </div>
    <div class="mapa">
        <iframe src="https://www.google.com/maps?q=Bre%C3%B1a,+Lima,+Peru&output=embed" allowfullscreen></iframe>
    </div>
</section>