<header class="header">
    <div class="container">
        <img src="../../../assets/img/logo/Logo-Apu-Salud.svg" alt="Clínica APU" class="logo">

        <nav class="nav">
            <ul class="menu">
                <li><a href="#">INICIO</a></li>

                <li>
                    <a href="#">SERVICIOS</a>
                    <ul>
                        <li><a [routerLink]="'/generales'">Servicios Generales</a></li>
                        <li><a [routerLink]="'/integrales'">Servicios Integrales</a></li>
                        <li><a (click)="navegarAEspecialidades()">Especialidades</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">PACK Y PLANES</a>
                    <ul>
                        <li><a [routerLink]="'/packs-preventivos'">Packs Preventivos</a></li>
                        <li><a [routerLink]="'/kits-preventivos'">Kits Preventivos</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">NOSOTROS</a>
                    <ul>
                        <li><a [routerLink]="'/contacto'">Contacto</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="buttons">
            <div class="contacto">
                <a href="tel:980793614" class="telefono-btn">
                    <i class="fas fa-phone"></i> 980 793 614
                </a>
            </div>




            @if (isAutentiticared) {
            @switch (rol) {
            @case (1){
            <div class="contacto">
                <a [routerLink]="['/perfil']" class="telefono-btn">
                    <i class="fa-solid fa-user-tie"></i>
                </a>
            </div>
            }
            @case (2){
            <div class="contacto">
                <a [routerLink]="['/perfil-medico']" class="telefono-btn">
                    <i class="fa-solid fa-user-tie"></i>
                </a>
            </div>
            }
            @case (3){
            <div class="contacto">
                <a [routerLink]="['/admin']" class="telefono-btn">
                    <i class="fa-solid fa-user-tie"></i>
                </a>
            </div>
            }
            }

            <div class="contacto">
                <a (click)="logOut()" class="telefono-btn">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
            }@else {
            <div class="contacto">
                <a [routerLink]="['/login']" class="telefono-btn">
                    <i class="fa-solid fa-user-tie"></i> Login
                </a>
            </div>
            }
        </div>
    </div>

    <div class="registrate">
        <a [routerLink]="isLoggedIn ? ['/perfil'] : ['/login']" class="telefono-btn">
            <i class="fa-regular fa-calendar-plus"></i> Agendar cita
        </a>
    </div>


    <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=51980793614" target="_blank" class="whatsapp-btn">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
</header>