<header class="header">
    <div class="container">
        <img src="../../../assets/img/logo/Logo-Apu-Salud.svg" alt="Clínica APU" class="logo">

        <nav class="nav">
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">SERVICIOS</a>
                    <!-- <ul class="dropdown-menu">
                        <li><a href="#">Ambulancia</a></li>
                        <li><a href="#">Servicios Generales</a></li>
                        <li><a href="#">Servicios Integrales</a></li>
                        <li><a href="#">Especialidades</a></li>
                      </ul> -->
                </li>
                <li><a href="#">PACK & PLANES</a></li>
                <li><a href="#">NOSOTROS</a></li>
            </ul>
        </nav>

        <div class="contacto">
            <a href="tel:980793614" class="telefono-btn">
                <i class="fas fa-phone"></i> 980 793 614
            </a>
            <i class="fas fa-share-alt compartir-icono"></i>
        </div>
    </div>

    <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=51980793614" target="_blank" class="whatsapp-btn">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
</header>