<div class="dashboard">
    <!-- Panel lateral del perfil -->
    <aside class="perfil-panel">
        <div class="perfil-card">
            <i class="fas fa-user-circle perfil-icon"></i>
            <h3>{{ usuario.firstName }} {{ usuario.lastName }} {{usuario.middleName}}</h3>
            <p><i class="fas fa-envelope"></i> {{ usuario.email }}</p>
            <p><i class="fas fa-phone"></i> {{ usuario.telefono }}</p>
            <p><i class="fas fa-user-shield"></i> {{ rol }}</p>
        </div>

        <br>
        <div class="btn">
            <a class="btn-edit" (click)="abrirModalEditarPacienteDesdePerfil()">Editar datos</a>
        </div>
    </aside>
 
    <!-- Contenido principal -->
    <section class="contenido">
        <!-- Botones de navegación -->
        <div class="nav-buttons">
            <button [class.active]="vista === 'citas'" (click)="cambiarVista('citas')">Mostrar citas
                Programadas</button>
            <button [class.active]="vista === 'reservar'" (click)="cambiarVista('reservar')">Reservar cita</button>
            <button [class.active]="vista === 'extra'" (click)="cambiarVista('extra')">Ver citas atendidas</button>
        </div>

        <!-- Contenido dinámico -->
        <div class="vista-contenido">
            @if (vista === 'citas') {
            <ng-container>
                <!-- Citas Atendidas -->
                @if (citasRegistradas.length) {
                <div class="step">
                    <h3><i class="fa-solid fa-calendar-check"></i> Citas Programadas</h3>
                    <ul class="citas-lista">
                        @for (cita of citasRegistradas; track $index) {
                        <li>
                            <div>
                                <strong>{{ cita.fecha | date:'dd-MM-yyyy' }}</strong> - {{ getHoraTexto(cita.idHora)
                                }}<br>
                                <span>
                                    <i class="fa-solid fa-user-doctor"></i> {{ cita.medico }}
                                    ({{ cita.especialidad }})
                                </span>
                            </div>

                            <div class="options">
                                @if (cita.tipo_cita == 1) {
                                <!-- <a class="teleconsulta" (click)="navigateVideoCall(usuario.id!, cita.nombre_sala)"
                                    [style.pointerEvents]="!esCitaPasada(cita.fecha, getHoraTexto(cita.idHora)) ? 'none' : 'auto'"
                                    [style.opacity]="!esCitaPasada(cita.fecha, getHoraTexto(cita.idHora)) ? 0.5 : 1"><i
                                        class="fa-solid fa-video"></i>Conectarse a la cita</a> -->

                                <a class="teleconsulta" (click)="navigateVideoCall(usuario.id!, cita.nombre_sala)"><i
                                        class="fa-solid fa-video"></i>Unirse a la cita</a>
                                }

                                <a class="eliminar-cita" (click)="cancelarCita(cita.id!)"><i
                                        class="fa-solid fa-trash"></i>Cancelar Cita</a>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
                }@else {
                <h2>No tienes citas programadas</h2>
                }

            </ng-container>
            }

            @if (vista === 'reservar') {
            <ng-container>
                <h2>Reservar Cita</h2>
                <div class="agenda-container">
                    <!-- Paso 1: Especialidades -->
                    @if (especialidades$ | async; as especialidades) {
                    @if (especialidades.especialidades) {
                    <div class="step">
                        <h3><i class="fa-solid fa-stethoscope"></i> Elige una especialidad</h3>
                        <div class="card-list">
                            @for (esp of especialidades.especialidades; track $index) {
                            <div class="card-option" (click)="seleccionarEspecialidad(esp)"
                                [class.active]="especialidadSeleccionada?.id === esp.id">
                                {{ esp.especialidad }}
                            </div>
                            }
                        </div>
                    </div>
                    }
                    }


                    <!-- Paso 2: Médicos -->
                    @if (especialidadSeleccionada && medicosFiltrados.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-user-doctor"></i> Elige un médico</h3>
                        <div class="card-list">
                            @for (med of medicosFiltrados; track $index) {
                            <div class="card-option" (click)="seleccionarMedico(med)"
                                [class.active]="medicoSeleccionado?.id === med.id">
                                {{ med.medico }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <!-- Paso 3: Fechas disponibles -->
                    @if (medicoSeleccionado && fechasFiltradas.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-calendar-days"></i> Selecciona una fecha</h3>
                        <div class="card-list">
                            @for (fecha of fechasFiltradas; track $index) {
                            <div class="card-option" (click)="seleccionarFecha(fecha)"
                                [class.active]="diaSeleccionada === fecha.dia">
                                {{ fecha.dia }} {{obtenerProximaFecha(fecha.dia) | date:'dd/MM/yyyy' }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <!-- Paso 4: Horarios disponibles -->
                    @if (diaSeleccionada && horasFiltradas.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-clock"></i> Selecciona un horario</h3>
                        <div class="card-list">
                            @for (hora of horasFiltradas; track $index) {
                            <div class="card-option" (click)="seleccionarHora(hora.id)"
                                [class.active]="horaSeleccionada === hora.id">
                                {{ getHoraTexto(hora.id) }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    @if(horaSeleccionada){
                    <div class="step">
                        <h3><i class="fa-solid fa-hospital"></i>|<i class="fa-solid fa-laptop"></i> Selecciona el tipo de cita</h3>
                        <div class="card-list">
                            @for (tipo of tipoCita; track $index) {
                            <div class="card-option" (click)="seleccionarTipoCita(tipo.value)"
                                [class.active]="tipoCitaSeleccionada === tipo.value">
                                {{ tipo.label }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <!-- Confirmación -->
                    @if (tipoCitaSeleccionada >= 0) {
                    <div class="step confirm-section">
                        <button class="btn-confirm" (click)="confirmarCita()">
                            <i class="fa-solid fa-check-circle"></i> Confirmar Cita
                        </button>
                    </div>
                    }
                </div>
            </ng-container>
            }

            @if (vista === 'extra') {
            <ng-container>
                @if (citasAtendidas.length) {
                <div class="step">
                    <h3><i class="fa-solid fa-calendar-check"></i> Citas Atendidas</h3>
                    <ul class="citas-lista">
                        @for (cita of citasAtendidas; track $index) {
                        <li>
                            <div>
                                <strong>{{ cita.fecha | date:'dd-MM-yyyy' }}</strong> - {{ getHoraTexto(cita.idHora)
                                }}<br>
                                <span>
                                    <i class="fa-solid fa-user-doctor"></i> {{ cita.medico }}
                                    ({{ cita.especialidad }})
                                </span>
                            </div>
                            <a class="ver-receta" (click)="verDiagnosticoYReceta(cita.id!)"><i
                                    class="fa-solid fa-eye"></i>Ver Diagnostico y Receta</a>
                        </li>
                        }
                    </ul>
                </div>
                }@else {
                <h2>Aún no tiene atenciones realizadas</h2>
                }
            </ng-container>
            }
        </div>
    </section>
</div>

@if (mostrarModalUsuario) {
<app-modal-editar-usuario [formGroup]="modalFormGroup" [titulo]="modalTitulo" [campos]="modalCampos"
    [especialidades]="especialidades" (guardar)="guardarCambiosUsuario($event)" (cerrar)="cerrarModalUsuario()">
</app-modal-editar-usuario>
}


<!-- *======================= -->
<div class="modal-overlay" *ngIf="mostrarModalDiagnosticoPaciente">
    <div class="modal-content elegante">
        <div class="downland" id="printableArea">
            <!-- Encabezado -->
            <div class="receta-header">
                <h3 class="titulo">Receta Médica Electrónica</h3>
                <p><strong>Fecha de emisión:</strong> {{ fechaActual | date:'dd-MM-yyyy' }}</p>
            </div>

            <!-- Datos del paciente -->
            <div class="datos-paciente">
                <p><strong>🩺 Médico:</strong> {{ detalleCita.medico }}</p>
                <p><strong>👤 Paciente:</strong> {{ detalleCita.paciente }}</p>
                <p><strong>📅 Fecha de atención:</strong> {{ detalleCita.fecha | date:'dd-MM-yyyy' }}</p>
                <p><strong>🕘 Hora de atención:</strong> {{ detalleCita.hora }}</p>
            </div>

            <hr />
            <br>

            <!-- Diagnóstico -->
            <div class="diagnostico">
                <p><strong>📝 Diagnóstico:</strong></p>
                <blockquote>{{ detalleCita.diagnostico }}</blockquote>
            </div>

            <br>

            <!-- Receta -->
            <div class="receta">
                <p><strong>💊 Receta médica:</strong></p>
                <ul class="receta-lista">
                    <li *ngFor="let item of detalleCita.receta.split(';')">{{ item }}</li>
                </ul>
            </div>

            <!-- <br><br> -->

            <!-- Firma médica -->
            <div class="qr-sello">
                <div class="qr">
                    <qrcode [qrdata]="qrData" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
                    <p><em>Verificación de autenticidad</em></p>
                </div>

                <div class="firma-medico">
                    <img [src]="urlFirma" alt="" class="firma">
                    <p>__________________________</p>
                    <p><strong>{{ detalleCita.medico }}</strong></p>
                    <p><em>CMP: {{medico?.cmp}}</em></p>
                    <p><em>Médico tratante</em></p>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Botones -->
        <div class="modal-footer no-print">
            <button class="btn-guardar" (click)="guardarPDF()">💾 Guardar PDF</button>
            <button class="btn-imprimir" (click)="imprimirDetalleCita()">🖨 Imprimir</button>
            <button class="btn-cerrar" (click)="mostrarModalDiagnosticoPaciente = false">Cerrar</button>
        </div>
    </div>

</div>