<div class="dashboard">
    <!-- Panel lateral del perfil -->
    <aside class="perfil-panel">
        <div class="perfil-card">
            <i class="fas fa-user-circle perfil-icon"></i>
            <h3>{{ usuario.firstName }} {{ usuario.lastName }} {{usuario.middleName}}</h3>
            <p><i class="fas fa-envelope"></i> {{ usuario.email }}</p>
            <p><i class="fas fa-phone"></i> {{ usuario.telefono }}</p>
            <p><i class="fas fa-user-shield"></i> {{ usuario.rol.rol }}</p>
        </div>

        <br>
        <div class="btn">
            <a class="btn-edit" (click)="abrirModalEditarPacienteDesdePerfil()">Editar datos</a>
        </div>
    </aside>

    <!-- Contenido principal -->
    <section class="contenido">
        <!-- Botones de navegación -->
        <div class="nav-buttons">
            <button [class.active]="vista === 'citas'" (click)="cambiarVista('citas')">Mostrar citas
                Programadas</button>
            <button [class.active]="vista === 'reservar'" (click)="cambiarVista('reservar')">Reservar cita</button>
            <!-- <button [class.active]="vista === 'extra'" (click)="cambiarVista('extra')">Editar Perfil</button> -->
        </div>

        <!-- Contenido dinámico -->
        <div class="vista-contenido">
            @if (vista === 'citas') {
            <ng-container>
                <!-- Citas Atendidas -->
                @if (citasRegistradas.length) {
                <div class="step">
                    <h3><i class="fa-solid fa-calendar-check"></i> Citas Programadas</h3>
                    <ul class="citas-lista">
                        @for (cita of citasRegistradas; track $index) {
                        <li>
                            <div>
                                <strong>{{ cita.fecha }}</strong> - {{ getHoraTexto(cita.idHora) }}<br>
                                <span>
                                    <i class="fa-solid fa-user-doctor"></i> {{ cita.medico }}
                                    ({{ cita.especialidad }})
                                </span>
                            </div>
                            <a (click)="cancelarCita(cita.id!)"><i class="fa-solid fa-trash"></i>Cancelar Cita</a>
                        </li>
                        }
                    </ul>
                </div>
                }@else {
                <h2>Aún no tiene atenciones realizadas</h2>
                }

            </ng-container>
            }

            @if (vista === 'reservar') {
            <ng-container>
                <h2>Reservar Cita</h2>
                <div class="agenda-container">
                    <!-- Paso 1: Especialidades -->
                    @if (especialidades$ | async; as especialidades) {
                    @if (especialidades.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-stethoscope"></i> Elige una especialidad</h3>
                        <div class="card-list">
                            @for (esp of especialidades; track $index) {
                            <div class="card-option" (click)="seleccionarEspecialidad(esp)"
                                [class.active]="especialidadSeleccionada?.id === esp.id">
                                {{ esp.especialidad }}
                            </div>
                            }
                        </div>
                    </div>
                    }
                    }


                    <!-- Paso 2: Médicos -->
                    @if (especialidadSeleccionada && medicosFiltrados.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-user-doctor"></i> Elige un médico</h3>
                        <div class="card-list">
                            @for (med of medicosFiltrados; track $index) {
                            <div class="card-option" (click)="seleccionarMedico(med)"
                                [class.active]="medicoSeleccionado?.id === med.id">
                                {{ med.medico }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <!-- Paso 3: Fechas disponibles -->
                    @if (medicoSeleccionado && fechasFiltradas.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-calendar-days"></i> Selecciona una fecha</h3>
                        <div class="card-list">
                            @for (fecha of fechasFiltradas; track $index) {
                            <div class="card-option" (click)="seleccionarFecha(fecha)"
                                [class.active]="diaSeleccionada === fecha.dia">
                                {{ fecha.dia }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <!-- Paso 4: Horarios disponibles -->
                    @if (diaSeleccionada && horasFiltradas.length) {
                    <div class="step">
                        <h3><i class="fa-solid fa-clock"></i> Selecciona un horario</h3>
                        <div class="card-list">
                            @for (hora of horasFiltradas; track $index) {
                            <div class="card-option" (click)="seleccionarHora(hora.id)"
                                [class.active]="horaSeleccionada === hora.id">
                                {{ getHoraTexto(hora.id) }}
                            </div>
                            }
                        </div>
                    </div>
                    }

                    <!-- Confirmación -->
                    @if (horaSeleccionada) {
                    <div class="step confirm-section">
                        <button class="btn-confirm" (click)="confirmarCita()">
                            <i class="fa-solid fa-check-circle"></i> Confirmar Cita
                        </button>
                    </div>
                    }
                </div>
            </ng-container>
            }

            @if (vista === 'extra') {
            <ng-container>
                <h2>falata completar alguna otra configuracion</h2>
            </ng-container>
            }
        </div>
    </section>
</div>

<app-modal-editar-usuario [mostrarModal]="mostrarModalUsuario" [formGroup]="modalFormGroup" [titulo]="modalTitulo"
    [campos]="modalCampos" [especialidades]="especialidades" (guardar)="guardarCambiosUsuario()"
    (cerrar)="cerrarModalUsuario()">
</app-modal-editar-usuario>