@font-face {
  font-family: "Lato";
  src: url("assets/font/Lato700-2.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
}

@media print {
  body * {
    visibility: hidden;
  }

  #printableArea,
  #printableArea * {
    visibility: visible;
  }

  #printableArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    background: white;
    z-index: 9999;
  }

  .no-print {
    display: none !important;
  }
}
