<footer class="footer">
    <div class="footer-top">
        <div class="logo-social">
            <img src="../../../assets/img/logo/Logo-Apu-Salud_Blanco_Mediano.png" alt="Logo Apu Salud" class="logo">
            <p>Síguenos</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-links">
            <div class="col">
                <h4>Navega</h4>
                <ul>
                    <li><a href="#">› Servicios Generales</a></li>
                    <li><a href="#">› Servicios Integrales</a></li>
                    <li><a href="#">› Especialidades</a></li>
                    <li><a href="#">› Servicio de Ambulancia</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Pack y Planes</h4>
                <ul>
                    <li><a href="#">› Pack Saludables</a></li>
                    <li><a href="#">› Planes de Afiliación</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="#">› Contacto</a></li>
                    <li><a href="#">› Blog</a></li>
                </ul>
                <h4>Avisos Legales</h4>
                <ul>
                    <li><a href="#">• Términos y Condiciones</a></li>
                    <li><a href="#">• Política de Privacidad</a></li>
                </ul>
                <a href="#" class="libro-reclamaciones">
                    <img src="../../../assets/img/logo/LIbroReclamos.png" alt="Libro"> Libro de Reclamaciones
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright © Apu Salud Médicos a Domicilio</p>
        <!-- <p>Web Diseñada por <strong>Greco Marketing Digital</strong></p> -->
    </div>
</footer>